# Add directories, files, and symlinks which shall not be stored within
# this git repository here.

# Placeholder files for directories needed to be inside git but empty
!*.gitkeep

# JetBrains - project settings
.idea/

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~

# OS or Editor folders
.DS_Store
.cache
.project
.settings
.tmproj
nbproject
Thumbs.db

# Project specific - examples
examples/export/*.json
examples/export/*.sql
examples/export/*.xml
!examples/export/Sample.*

# World of Warcraft Dbc files
examples/dbcs/*.dbc
!examples/dbcs/Sample.*
